<footer>
  <div class="brand-mark">KELLY LIN</div>
  <div>2026 &nbsp;·&nbsp; S/S COLLECTION &nbsp;·&nbsp; DESIGN BY KELLY</div>
  <div style="margin-top:10px;">
    <a href="https://www.facebook.com/kai.li.lin.198419" target="_blank">facebook.com/kai.li.lin.198419</a>
  </div>
</footer>
</body>
</html>
